@model IEnumerable<User>

<h2>Login</h2>
<form method="post" action="/home/index">
    @Html.DisplayNameFor(model => model.Email)
    <input type="text" name="Email" /><br />
    @Html.DisplayNameFor(model => model.Password)
    <input type="text" name="Password" /><br />
    <input type="submit" />
</form>
<hr />


<h2>Are you a New User?</h2>
<form method="post" action="/home/SaveUser">
    @Html.DisplayNameFor(model => model.Email)
    <input type="text" name="Email" /><br />
    @Html.DisplayNameFor(model => model.Password)
    <input type="text" name="Password" /><br />
    <input type="submit" />
</form>